<!DOCTYPE html>
<html>
<head>
  <title>OnlineGameApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<ul class="nav nav-tabs">
      	  <li><%= link_to "Wall Tennis", root_path %></li>
		  <% if user_signed_in? %>
		  	<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>

		  <% else %>
		  	<li><%= link_to "Sign Up", new_user_registration_path %></li>
		  	<li><%= link_to "Sign In", new_user_session_path %></li>
		  <% end %>
	</ul>
	<% if user_signed_in? %>
		<p>Signed in as: <b><%= link_to current_user.user_name, edit_user_registration_path %></b></p>
	<% end %>
	<%= yield %>
</div>
</body>
</html>
